<div class="hero">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="https://via.placeholder.com/600/92c952" alt="img 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="https://via.placeholder.com/600/771796" alt="img 2">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="https://via.placeholder.com/600/24f355" alt="img 3">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="https://via.placeholder.com/600/d32776" alt="img 4">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="https://via.placeholder.com/600/f66b97" alt="img 5">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="https://via.placeholder.com/600/56a8c2" alt="img 6">
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
