
.form{
  margin-top: 5rem;
}
.content{
  background: #f8f9f9;
  padding: 20px 0 80px;
  border-top: 1px solid #e3e3e3;
}

h2{
  text-align: center;
  margin-top: -1rem;
}

p{
  text-align: justify;
}

label{
  font-size: 14px;
  position:absolute;
  top: -11px;
  left:20px;
  background-color:white;
}

.content h2{
  color: #2e2f30;
  font-size: 21px;
  padding-top: 40px;
  font-weight: 400;
}
.content p{
  color: #47494b;
  font-size: 14px;
  word-spacing: 3px;
}

.content .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

textarea {
  height: 150px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 60%;
  border-radius: 30px;
  text-align: center;
}
