.container{
  width: 90%;
  #title{
    text-align: center;
    padding-top: 3rem;
  }
}
.mb-4{
  padding-top: 1rem;
}

p{
  padding-top: 3rem;
}

form{
  padding-top: 1rem;
  width: auto;
}

button{
  border-radius: 10px;
}

textarea {
  height: 150px;
}

label{
  font-size: 14px;
  position:absolute;
  top: -11px;
  left:20px;
  background-color:white;
}

.Stepper{
  margin-bottom: 50px;
  padding-bottom: 12px;
}

#cep{
  width: 50%;
}

#logradouro{
  width: 150%;
}
#logra{
  position: relative  ;
  right: 24.5%;
}
