#header{
  background-color: #3f729b !important;
  height: 150px;
  padding-top: 70px;
}

#title{
  text-align: center;
  color: white;
}

label{
  font-size: 14px;
  position:absolute;
  top: -20px;
  left:20px;
  background-color:white;
}

form{
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 90%;
  padding-left: 10%;
  align-items: center;
}
