<div class = 'principal'>
  <div id="header">
    <p class="h2 mb-4" id="title">Lista de Propostas</p>
  </div>
  <form [formGroup]="form">
    <!-- Periodo-->
    <label for="isAceita"> Periodo</label>
    <mat-select   id="isAceita" formControlName="isAceita" class="form-control" placeholder="Escolha uma opção">
      <mat-option type="text" value=""> Todos </mat-option>
      <mat-option type="text" value="true"> Aprovado</mat-option>
      <mat-option type="text" value="false"> Recusado </mat-option>
    </mat-select>
  </form>

  <app-proposta-list [propostas]="propostas.dados"></app-proposta-list>

  <mat-paginator
      [length]="totalAmountOfRecords"
      [pageSize]="recordsPerPage"
      [pageSizeOptions]="[5, 10, 20, 50]"
      (page)="paginatorUpdate($event)"
  >
  </mat-paginator>
</div>
