
<app-authorize-view [role] = "'empreendedor'">
  <ng-container authorized>
  <app-generic-list [list]="propostas">
    <ng-container content>
        <table mat-table [dataSource]="propostas" class="mat-elevation-z8 table-index">
            <ng-container matColumnDef="imagemPerfil">
              <th mat-header-cell *matHeaderCellDef class="center">Logo da Empresa</th>
              <td mat-cell *matCellDef="let element" class="center"><img src="{{element.imagemEmpresaJr}}" alt="logo" class="img-fluid rounded-circle z-depth-0"></td>
            </ng-container>

            <ng-container matColumnDef="nomeFantasia">
              <th mat-header-cell *matHeaderCellDef class="center">Nome Fantasia</th>
              <td mat-cell *matCellDef="let element" class="center">{{element.nomeFantasiaEmpresaJr}}</td>
            </ng-container>

            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef class="center">Título da Proposta</th>
              <td mat-cell *matCellDef="let element" class="center">{{element.titulo}}</td>
            </ng-container>

            <ng-container matColumnDef="dataCriacao">
              <th mat-header-cell *matHeaderCellDef class="center">Data de Criação</th>
              <td mat-cell *matCellDef="let element" class="center">{{element.dataCriacao.substring(0,10).replace("-","/").replace("-","/")}}</td>
            </ng-container>

            <ng-container matColumnDef="isAceita">
              <th mat-header-cell *matHeaderCellDef class="center"> Status </th>
              <td mat-cell *matCellDef="let element"  >
                <div *ngIf="element.isAceita === null" >
                  <p id="pendente">Pendente</p>
                </div>
                <div *ngIf="element.isAceita === true">
                  <p id="aprovado">Aprovado</p>
                </div>
                <div *ngIf="element.isAceita === false">
                  <p id="recusado">Recusado</p>
                </div>
              </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="center">Ações</th>
                <td mat-cell *matCellDef="let element" class="actions">
                    <a
                        routerLink="/listaProposta/detalhe/{{element.id}}"
                        mat-flat-button color="primary"
                    >
                    Exibir Detalhes
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

        </table>
    </ng-container>
  </app-generic-list>
  </ng-container>

</app-authorize-view>

<app-authorize-view [role] = "'estudante'">
  <ng-container authorized>
  <app-generic-list [list]="propostas">
    <ng-container content>
        <table mat-table [dataSource]="propostas" class="mat-elevation-z8 table-index">
            <ng-container matColumnDef="imagemPerfil">
              <th mat-header-cell *matHeaderCellDef class="center">Logo da Empresa</th>
              <td mat-cell *matCellDef="let element" class="center"><img src="{{element.imagemEmpresaJr}}" alt="logo" class="img-fluid rounded-circle z-depth-0"></td>
            </ng-container>

            <ng-container matColumnDef="nomeFantasia">
              <th mat-header-cell *matHeaderCellDef class="center">Nome Fantasia</th>
              <td mat-cell *matCellDef="let element" class="center">{{element.nomeFantasiaEmpresaJr}}</td>
            </ng-container>

            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef class="center">Título da Proposta</th>
              <td mat-cell *matCellDef="let element" class="center">{{element.titulo}}</td>
            </ng-container>

            <ng-container matColumnDef="dataCriacao">
              <th mat-header-cell *matHeaderCellDef class="center">Data de Criação</th>
              <td mat-cell *matCellDef="let element" class="center">{{element.dataCriacao.substring(0,10).replace("-","/").replace("-","/")}}</td>
            </ng-container>

            <ng-container matColumnDef="isAceita">
              <th mat-header-cell *matHeaderCellDef class="center"> Status </th>
              <td mat-cell *matCellDef="let element"  >
                <div *ngIf="element.isAceita === null" >
                  <p id="pendente">Pendente</p>
                </div>
                <div *ngIf="element.isAceita === true">
                  <p id="aprovado">Aprovado</p>
                </div>
                <div *ngIf="element.isAceita === false">
                  <p id="recusado">Recusado</p>
                </div>
              </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="center">Ações</th>
                <td mat-cell *matCellDef="let element" class="actions">
                    <a
                        routerLink="/listaProposta/detalhe/{{element.id}}"
                        mat-flat-button color="primary"
                    >
                    Exibir Detalhes
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

        </table>
    </ng-container>
  </app-generic-list>
  </ng-container>

</app-authorize-view>

<app-authorize-view [role] = "'empresajr'">
  <ng-container authorized>
    <app-generic-list [list]="propostas">
      <ng-container content>
        <table mat-table [dataSource]="propostas" class="mat-elevation-z8 table-index">

            <!-- <div *ngIf="element.nomeFantasiaEmpreendedor == null"> -->


            <ng-container matColumnDef="imagemPerfil">
              <th mat-header-cell *matHeaderCellDef class="center">Logo da Empresa</th>
              <td mat-cell *matCellDef="let element" class="center"> <img src="{{element.imagemEmpreendedor}}" alt="logo" class="img-fluid rounded-circle z-depth-0"></td>
            </ng-container>

            <ng-container matColumnDef="nomeFantasia">
              <th mat-header-cell *matHeaderCellDef class="center">Nome Fantasia</th>
              <td mat-cell *matCellDef="let element" class="center">
                {{element.nomeFantasiaEmpreendedor}}
              </td>

            </ng-container>

            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef class="center">Título da Proposta</th>
              <td mat-cell *matCellDef="let element" class="center">
               {{element.titulo}}</td>
            </ng-container>

            <ng-container matColumnDef="dataCriacao">
              <th mat-header-cell *matHeaderCellDef class="center">Data de Criação</th>
              <td mat-cell *matCellDef="let element" class="center">
               {{element.dataCriacao.substring(0,10).replace("-","/").replace("-","/")}}</td>
            </ng-container>

            <ng-container matColumnDef="empreendedorId">
                <th mat-header-cell *matHeaderCellDef class="center">empreendedorId</th>
                <td mat-cell *matCellDef="let element" class="center">
                 {{element.empreendedorId}}</td>
            </ng-container>

            <ng-container matColumnDef="isAceita">
              <th mat-header-cell *matHeaderCellDef class="center"> Status </th>
              <td mat-cell *matCellDef="let element"  >
                <div *ngIf="element.isAceita === null" >
                  <p id="pendente">Pendente</p>
                </div>
                <div *ngIf="element.isAceita === true">
                  <p id="aprovado">Aprovado</p>
                </div>
                <div *ngIf="element.isAceita === false">
                  <p id="recusado">Recusado</p>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="center">Ações</th>
                <td mat-cell *matCellDef="let element" class="actions">

                    <a
                        routerLink="/listaProposta/detalhe/{{element.id}}"
                        mat-flat-button color="primary"
                    >
                    Exibir Detalhes
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
          <!-- </div> -->

        </table>
    </ng-container>
    </app-generic-list>
  </ng-container>
</app-authorize-view>

