<!-- Default form login -->
<div id= "main">
  <div id="formheader">
    <p class="h4 mb-4">Entre na SouJunior!</p>
  </div>
  <form (submit)="onSubmit.emit(form.value)" [formGroup]="form" class="text-center border border-light p-5 example z-depth-5">

    <!-- Email -->
    <mat-form-field appearance="outline" class="input">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
      <mat-error>{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>
    <!-- Password -->
    <mat-form-field appearance="outline" class="input">
      <mat-label>Senha</mat-label>
      <input type="password" formControlName="senha" matInput />
      <mat-error>Preencha a senha</mat-error>
    </mat-form-field>

    <ul *ngIf="errors.length > 0">
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>

    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="">Esqueceu a senha?</a>
      </div>
    </div>



    <!-- Sign in button -->

    <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="form.invalid">Entrar</button>

    <!-- Register -->
    <p>Não está cadastrado?
      <a href="">Cadastre-se</a>
    </p>

  </form>
</div>
<!-- Default form login -->
