#main{
  background-color: rgb(241, 239, 239);
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formheader{
  padding-top: 20px;
  width: 500px;
  background-color: #3f729b !important;
  text-align: center;
  p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}

.input{
  width: 100%;
}

form{
  width: 500px;
  background-color: white;
}

label{
  font-size: 14px;
  position:absolute;
  top: -11px;
  left:20px;
  background-color:white;
}

ul {
  list-style-type: none;
  padding-left: 10%;
}

li{
  color: red;
  padding-right: 12%;
}

