.principal{
  text-align: center;
}
#header{
  background-color: #3f729b !important;
  height: 150px;
  padding-top: 70px;
}

#hero{
  padding-top: 18px ;
}

#title{
  text-align: center;
  color: white;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30px;
  text-align: center;
}

.content{
  padding: 10px 0 80px;
}

h1{
  font-size: 30px;
}

h2{
  text-align: center;
  margin-top: -1rem;
}

p{
  text-align: center;
}

.content h2{
  color: #2e2f30;
  font-size: 21px;
  padding-top: 40px;
  font-weight: 400;
}
.content p{
  color: #47494b;
  font-size: 14px;
  word-spacing: 3px;
}

.content .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

#pendente{
  background-color: rgb(230, 230, 89);
  text-align: center;
  color: black;
  margin-top: -2%;
  padding-top:1rem;
  padding-bottom: 1rem;
}

#aprovado{
  background-color: rgb(81, 190, 81);
  text-align: center;
  color: white;
  margin-top: -2%;
  padding-top:1rem;
  padding-bottom: 1rem;
}

#recusado{
  background-color: rgb(233, 113, 113);
  text-align: center;
  color: white;
  margin-top: -2%;
  padding-top:1rem;
  padding-bottom: 1rem;
}
