
  <div class="header">
    <!-- <app-carousel2 class="carousel"></app-carousel2> -->

    <h1 >Sou Junior!</h1>
    <p id="p-header">Empresas Júnior com destaque na plataforma:</p>
    <div class="carousel">
      <owl-carousel-o [options]="customOptions" >
        <ng-template carouselSlide>
          <div class="slide">
            <mdb-card class="card2">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <img src="../assets/imagens/carousel/Mecaniza jr.jpg">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body class="cardbody">
                <mdb-card-title>
                  <h4>Mecaniza Jr</h4>
                </mdb-card-title>
                <mdb-card-text>
                  <p>A Mecaniza Jr é uma Empresa Júnior ligada ao curso de Engenharia Mecânica da Universidade de Fortaleza (Unifor), sem fins lucrativos gerida por alunos que buscam as melhores soluções para o mercado </p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <mdb-card class="card2">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <img src="../assets/imagens/carousel/EPRO.png">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h4 style="text-transform: uppercase;">Epro</h4>
                </mdb-card-title>
                <mdb-card-text>
                  <P> A EPRO Consultoria é uma Empresa Júnior do curso de Engenharia de Produção da Universidade de Fortaleza (Unifor), que visa aprimorar a vivência empresarial de alunos ainda na graduação</P>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <mdb-card class="card2">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <img src="../assets/imagens/carousel/impact.png">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Impact </h4>
                </mdb-card-title>
                <mdb-card-text>
                  <p>A Impact é uma Empresa Júnior de Psicologia Organizacional especializada em serviços de consultoria em Gestão de pessoas, visando potencializar equipes</p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <mdb-card class="card2">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <img src="../assets/imagens/carousel/porte.png">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Porte</h4>
                </mdb-card-title>
                <mdb-card-text>
                  <p>A Porte Empresa Jr. é uma empresa de Arquitetura e Urbanismo e Engenharias que atua há mais de 19 anos no mercado de Juiz de Fora e região................</p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <mdb-card class="card2">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <img src="../assets/imagens/carousel/proAquaJr.png">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Pro Aqua</h4>
                </mdb-card-title>
                <mdb-card-text>
                  <p>Prestamos consultorias. Se você se interessa em abrir seu próprio negócio ou quer ver como anda seu empreendimento, para indentificar possíveis melhorias nele. </p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <mdb-card class="card2">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <img src="../assets/imagens/carousel/TechVet.png">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>TechVet</h4>
                </mdb-card-title>
                <mdb-card-text>
                  <p>TechVet Jr. é uma empresa júnior da UFSM (Universidade Federal de Santa Maria). Atualmente é formada por alunos dos cursos de Medicina Veterinária e Zootecnia. </p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="principal">

    <section class="content">
      <div class="container">

        <article>
          <h2>Empresa Junior.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa. Nullam condimentum mauris et rhoncus sagittis. Sed eu metus in diam tincidunt egestas non at odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        </article>

        <article>
          <h3>Lorem ipsum dolor sit amet consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa. Nullam condimentum mauris et rhoncus sagittis. Sed eu metus in diam tincidunt egestas non at odio.</p>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean vitae lectus erat. Duis consequat laoreet velit. Mauris convallis, sapien sit amet scelerisque accumsan, felis urna aliquet nunc, viverra mollis odio tellus a nisl. Nulla lobortis lectus non rutrum viverra. Sed et molestie libero. Sed ut ultrices dui.</p>
        </article>
        </div>
      </section>
  </div>
